<!DOCTYPE html>
<html lang="en">
<head>
	<title>Remote Charger</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--=====================Multiple Dropdown=========================================================-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<link rel="stylesheet" href="../static/dist/css/BsMultiSelect.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<!--===============================================================================================-->
</head>
<body>






	<div class="container-contact100" style="background-image: url('../static/images/bg-01.jpg');">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="http://52.168.129.85:5600/doctorview" method="POST">
				<span class="contact100-form-title">
					Charge Your Vehicle
				</span>


			<!--	<div class="wrap-input100 rs1-wrap-input100">
                                                <span class="label-input100">Enter your email id:</span>
                                                <span class="input100">
						<div>
						</br>
						<div>
                                                <input  type="text" name="username">
						<br>
						</div></br>
						</div>
                                                </span>
                                        </div> -->
<div class="wrap-input100 rs1-wrap-input100">
<span class="label-input100">Enter your Public Key:</span>
<span class="input100">
	<br>
	<div>
		<input  type="text" name="public_key">
	</div>
	<br>
</span>
<span class="label-input100">Enter your Name:</span>
<span class="input100">
	<br>
	<div>
		<input  type="text" name="name">
	</div>
	<br>
</span>
<span class="label-input100">Enter your Amount:</span>
<span class="input100">
	<br>
	<div>
		<input  type="text" name="amount">
	</div>
	<br>
</span>


	
				

				<!--<select name="select-name">
  					<option value="doctor">Doctor</option>
  					<option value="insurance">Insurance</option>
				</select>-->

				
				<!--
				<select name="select-email">
  					<option value="doctor">Doctor</option>
  					<option value="insurance">Insurance</option>
				</select>
				-->
				
				<!--
				<select name="select-gender">
  					<option value="doctor">Doctor</option>
  					<option value="insurance">Insurance</option>
				</select>
				-->

				
				<!--
				<select name="select-claim" >
  					<option value="doctor">Doctor</option>
  					<option value="insurance">Insurance</option>
				</select>
				-->
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
				<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
				<script src="dist/js/BsMultiSelect.js"></script>
				<script>$('select').selectpicker();</script>			

				<div class="container-contact100-form-btn" onclick=sa()>
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn" type="submit">
							<i class="fa fa-bolt fa-3x" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
function sa(){
alert('Your Storage Owner will be Contacted, If you sufficent storage you won\'t be charged!');
}
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>

<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-36251023-1']);
	_gaq.push(['_setDomainName', 'jqueryscript.net']);
	_gaq.push(['_trackPageview']);
  
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
  
  </script>
</html>
