<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
        <form class="contact100-form validate-form" action="http://40.122.164.26:8000/doctorview" name="myform" method="POST">
            <span class="contact100-form-title">
					Tell Us what you want to share.
                </span>
		Enter a valid pid : <input type="text" name="username">
                <input type="checkbox" name="Name" value="Name"> Name<br>
                <input type="checkbox" name="pid" value="pid">Email<br>
                <input type="checkbox" name="gender" value="gender" checked> Gender<br>
                <input type="checkbox" name="claim_data" value="claim_data">Claim Data<br>
                <input type="submit" value="Submit">
        </form>
</body>
</html>
